*.py[co]

# Packages
*.egg
*.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov
.tox

# Sphinx
docs/_build

# Editors
.idea
